<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,83}}</string>
                <key>sourceSize</key>
                <string>{33,83}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,83}}</string>
                <key>sourceSize</key>
                <string>{33,83}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{33,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,83}}</string>
                <key>sourceSize</key>
                <string>{33,83}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{33,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,83}}</string>
                <key>sourceSize</key>
                <string>{33,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maprole10001_8s.png</string>
            <key>size</key>
            <string>{142,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0898069148d05b84fe17d02dc5f221a8$</string>
            <key>textureFileName</key>
            <string>maprole10001_8s.png</string>
        </dict>
    </dict>
</plist>
