<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,75},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,75},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,75},{59,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,74}}</string>
                <key>sourceSize</key>
                <string>{59,74}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{63,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{63,70}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,65}}</string>
                <key>sourceSize</key>
                <string>{57,65}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{57,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{57,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maprole10001_9r.png</string>
            <key>size</key>
            <string>{249,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:087a8ec628f7bd362d8c451cff4c43ff$</string>
            <key>textureFileName</key>
            <string>maprole10001_9r.png</string>
        </dict>
    </dict>
</plist>
